.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.gallery-item {
  list-style: none;
}
.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
}
.gallery-image:hover {
  transform: scale(1.044);
}
